.calcDiv{
    width: 80%;
    margin: auto;
}

.calc {
    margin-top: 5%;
}

.calcButton{
    width:23%;
    margin:1% !important;
}

.cButton{
    width: 15.5%;
    height: 5.5vw !important;
    font-size: 1.25em !important;    
}

.inputField{
    width: 80%;
    margin:1%;
    height: 35px;
    text-align: right;
    font-size: 2.25vw;
}